{# templates/resena/crear.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Crear rese침a{% endblock %}

{% block body %}
    <h1>Escribir una rese침a para {{ producto.nombre }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.puntuacion, {'label': 'Puntuaci칩n'}) }}
        {{ form_row(form.comentario, {'label': 'Comentario'}) }}

        <button class="btn">Enviar rese침a</button>
    {{ form_end(form) }}

    <a href="{{ path('producto_show', {id: producto.id}) }}">Volver al producto</a>
{% endblock %}
